@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.headerHero{
    background: rgba(0, 168, 219, 1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
}

nav{
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #FFFFFF;
}

.navBar{
    display: flex;
    gap: 2rem;
}

.navBar li a{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    color: #FFFFFF;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
}

select{
    background: none;
    border: none;
    color: #FFFFFF;
}

nav button{
    background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.textSide{
    margin-left: 6rem;
}

.textSide h2{
    font-family: DM Sans;
    font-size: 52px;
    font-weight: 700;
    color: #fff;
}

.textSide p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #fff;
    width: 60%;
}

.curve img{
    width: 20%;
}


.imageSide img{
     width: 100%;
}

.demo{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.demo button{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;
    text-align: center;
    color: rgba(0, 168, 219, 1);
    background: #fff;
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

.demo button:hover{
    color: #fff;
    background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
}

nav button:hover{
    color: rgba(0, 1g  )
}

.sponsors{
    width: 70%;
    margin: auto;
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.sponsors img{
    width: 70%;
}

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

/* .iPhone{
    width: 40%;
} */

.postImage img{
    width: 100%;
}

.postImage{
    width: 40%;
}

.postText{
    width: 40%;
}

.postText h3{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.30000001192092896px;
    color: rgba(3, 77, 130, 1);
    width: 80%;
}

.postText p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    color: rgba(144, 163, 180, 1);
}
.postText a{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.83px;
    color: rgba(4, 170, 221, 1);
} 
.iPhone{
    position: absolute;
    width: 40%;
}

.arrow{
    position: relative;
}

.arrow img{
    width: 10%;
}

.posttextfosola{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10% 0 0 10%;
}
.posttextfosola h3{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.30000001192092896px;
    color:rgba(3, 77, 130, 1);
    width: 50%;
}

.posttextfosola p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    color: rgba(144, 163, 180, 1);
    width: 60%;
}

.posttextfosola a{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.83px;
    color: rgba(4, 170, 221, 1);
}

.posttextfosola ul{
    display: list-item;
    color: greenyellow;
    margin: 2% 0 2% 0;
}

.fosola img{
    width: 100%;
}

.hashtag{
    background: rgba(239, 251, 255, 1);
    padding: 4rem 0rem;
    margin-top: 5rem;
}
.topHashtag{
    text-align: center;
}

.topHashtag h2{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: rgba(3, 77, 130, 1);
}

.topHashtag p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(142, 169, 193, 1);
    padding: 1rem 0;
    width: 35%;
    margin: auto;
}

.cardWrap{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    height: 60vh;
}

.card{
    background: #fff;
    padding: 1rem 0.5rem 3rem 2rem;
    border-radius: 8px;
    width: 100%;
    height: 300px;
}

.card img{
    width: 30%;
}

.card:hover{
    background: rgba(3, 77, 130, 1);
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 8px;

}
.card h5{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    /* color: rgba(3, 77, 130, 1); */
    padding: 1rem 0rem;
}


.card p{
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 1rem;
    /* color: rgba(142, 169, 193, 1); */
}

.growth{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.growthLeft h3{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: rgba(3, 77, 130, 1);
    margin-right: 40%;
    width: 80%;

}

.growthLeft p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(144, 163, 180, 1);
    margin-right: 30%;
    width: 100%;
}

.growthText p{
    font-family: DM Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    color: rgba(144, 163, 180, 1);
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.hart{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 3rem;
}

.hartName h5{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    color: rgba(3, 77, 130, 1);
}

.hartName p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: auto;
    color: rgba(144, 163, 180, 1);

}

.brand{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 90%;
    margin: 33px 0 0 85px;
    justify-content: space-between;
    background-image: url(/images/backgroundandmask.png);
    margin: auto;
    margin-bottom: 5rem;
    padding: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.customer{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.brandLeft h3{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    width: 30%;
    padding-bottom: 2%;
    color:rgba(255, 255, 255, 1)

}

.brandLeft p{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);


}

.brandLeft img{
    align-items: center;

}

.brandLeft a{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    padding-left: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.brandRight{
    display: flex;
    gap: 1rem;
    align-items: center;
}


.brandRight button{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    align-items: center;
    color: rgba(0, 184, 217, 1);
    background: #fff;
    cursor: pointer;
    padding: 1rem 2rem;
    margin:  0 2rem 0 0;
    display: flex;
}

footer{
    background:rgba(8,19,21,1);
    width: 100%;
    color: #fff;
    padding: 3rem 0;
}

.footLogo img{
    width: 20%;
}

.footWrap{
    display: flex;
    width: 85%;
    margin: auto;

}

.footRight ul{
    display: block;
}

.footRight{
    display: flex;
    gap: 2rem;
    width: 60%;
    display: flex;
    gap: 2rem;
}

.footLeft{
    width: 40%;
}

li{
    list-style-type: none;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    color:rgba(211, 214, 216, 1);
    margin-bottom: 1rem;
}

.footRight h4{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 1.5rem;
}

.footLeft p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(211, 214, 216, 1);
    padding: 1rem 0;
    width: 60%;
}

.copyright{
    text-align: center;
    margin-top: 4rem;
}

.copyright p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.83px;
    color: rgba(255, 255, 255, 1);
    margin-top: 1rem;
}

.socials img{
    width: 15%;
}

.copyright img{
    width: 5%;
}

@media (max-width: 1024px){
    .textSide h2{
    font-size: 44px;
    width: 100%;
}

.textSide p{
    width: 90%;
    padding: 1rem 0;
}

.curve img{
    width: 25%;
}

.demo button{
    font-size: 16px;
    width: 55%;
}

.demo{
    margin-bottom: 3rem;
}

.textSide{
    width: 50%;
}

.imageSide{
    width: 50%;
}

.iPhone{
    width: 35%;
}

.postText{
    width: 50%;
}

.postText h3{
    width: 100%;
}

.cardWrap{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 60vh;
}

.card{
    background: #fff;
    padding: 1rem 0.5rem 3rem 2rem;
    border-radius: 8px;
    width: 100%;
    height: 320px;
}

.growthLeft h3{
    font-size: 26px;
    width: 90%;

}

.growthLeft p{
    font-size: 16px;
    width: 90%;
}

.footLeft p{
    font-size: 16px;
    width: 70%;
}

li{
    font-size: 16px;
    font-weight: 150;
    width: 150%;
    line-height: 27px;
}


.footRight h4{
    margin-right: 1rem;
}


}


@media (max-width: 768px){
nav{
    width: 100%;
    align-items: center;
}

.navBar{
    margin-bottom: -1rem;
}

.logo{
    width: 30%;
}

.textSide{
    margin-left: 4rem;
}

.textSide h2{
    font-size: 34px;
}

.textSide p{
    font-size: 13px;
}

.demo button{
    font-size: 16px;
    padding: 0.7rem 1rem;
    width: 90%;
}

.postText h3{
    font-size: 28px;
    line-height: 40px;
    width: 100%;
}

.postText p{
    font-size: 14px;
    line-height: 22px;
    padding: 2rem 0;
}

.topHashtag h2{
    font-size: 28px;
    line-height: 52px;
}

.topHashtag p{
    font-size: 14px;
    width: 60%;
}

.cardWrap{
    gap: 1rem;
    height: 60vh;
}

.card{
    padding: 1rem;
}

.card h5{
    font-size: 16px;
    line-height: 24px;
    
}


.card p{
    font-size: 13x;
}


.card img{
    width: 40%;
}

.footRight{
    gap: 2rem;
    width: 70%;
}

.footLeft{
    width: 40%;
}

li{
    font-size: 12px;
}

.footRight h4{
    font-size: 14px;
}

.copyright p{
    font-size: 12px;
}
}

@media (max-width: 425px){
nav{
    display: none;
}

.hero{
    display: block;
    width: 85%;
    margin: auto;
    margin-top: 4rem;
    
}

.textSide{
        margin-left: 0rem;
        width: 100%;
}

.imageSide{
    width: 100%;
}

.sponsors{
    width: 30%;
    margin: 3rem auto;
    display: block;
}

.sponsors img{
    padding-bottom: 1rem;
}

.post{
    flex-direction: column;
    width: 85%;
    margin: auto;
}

.postImage{
    width: 100%;
}

.postText{
    width: 100%;
}

.iPhone{
    width: 80%;
    position: absolute;
}

.postText h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 55px;
    width: 100%;

}

.postText p{
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.topHashtag p{
    font-size: 16px;
    width: 70%;
}

.cardWrap{
    flex-direction: column;
    width: 85%;
    height: 60%;
}

.card{
    width: 100%;
    height: 250px;
}

.card:hover{
    transform: scale(1);
    transition: 0.5s;
    border-radius: 8px;
}

.card img{
    width: 20%;
    padding-left: 1rem;
}

.card h5{
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    padding: 1rem;
}

.card p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 1rem;
}
.growth{
    width: 85%;
    margin: auto;
    flex-direction: column;
    padding: 6rem 0;
}

.growthLeft h3{
    font-size: 36px;
    width: 100%;
}

.growthLeft p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(144, 163, 180, 1);
}

.growthText p{
    font-size: 16px;
    width: 100%;
}

.hart{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 3rem;
}

.hartImage{
    width: 20%;
}

.hartName{
    width: 65%;
}

.brand{
    width: 85%;
    margin: auto;
    margin-bottom: 5rem;
    padding: 3rem;
    flex-direction: column;
}

.customer{
   margin: 2rem 0;
}

.brandLeft h3{
    font-size: 20px;
    font-weight: 300;
    width: 30%;
  
}

.footLogo img{
    width: 20%;
}

.footWrap{
    flex-direction: column;
    width:85%;
}


.footRight{
   flex-direction: column;
   width: 100%;
}

.footLeft{
    width: 100%;
}


li{
    font-size: 16px;
    font-weight: 400;
    
}

.footRight h4{
    font-size: 18px;
    
}

.footLeft p{
    font-size: 16px;
    width: 8%;
}

.copyright{
    text-align: center;
    margin-top: 4rem;
}

.copyright p{
    font-size: 16px;
    margin-top: 1rem;
}

}